body>.window{
    margin: 10px 20px;
    padding: 4px 8px;
    width: fit-content;
}

body>.tab{
    margin: 10px 20px;
    padding: 4px 0px 4px 28px;
}

.fragment{
    margin: 20px 20px;
    padding: 4px 8px;
    width: 80vw;
    background-color: #0a0a1280;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.fragment .head{
    display: flex;
    border-bottom: solid #e8e8ee 1px;
}

.fragment .head>.lore{
    font-size: 80%;
    vertical-align: bottom;
    transform: translateY(4px);
}

.fragment .head>.lore::before{
    content: "──";
    margin-left: 20px;
    margin-right: 2px;
}

.effect{
    margin-left: 10px;
    font-size: 80%;
    height: 1lh;
}

.fragment>.skills{
    margin-top: 8px;
    padding-left: 30px;
}
