body>.window{
    margin: 2vh 4vw;
    padding: 4px 8px;
    width: fit-content;
}

body>.tab{
    margin: 2vh 1vw;
    padding: 4px 0px 4px 28px;
}

.fragment{
    margin: 2vh 1vw;
    padding: 4px 8px;
    width: 80vw;
    background-color: #0a0a1280;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.fragment .head{
    display: flex;
    border-bottom: solid #e8e8ee 1px;
}

.fragment .head>.lore{
    font-size: 14px;
    text-indent: calc(-2em - 3px);
    padding-left: calc(2em + 3px);
    transform: translateY(4px) translateZ(-1);
}

.fragment .head>.lore::before{
    content: "──";
    margin-left: 4vh;
    margin-right: 2px;
}

.effect{
    margin-left: 2vh;
    font-size: 14px;
    height: 1lh;
}

.fragment>.skills{
    margin-top: 8px;
    padding-left: 30px;
}

@media screen and (max-width:959px) {
    .fragment .head{
        display: block;
    }
    .fragment .head>.lore{
        margin-left: 1em;
        font-size: 14px;
        vertical-align: bottom;
        transform: none;
    }
    .fragment .head>.lore::before{
        margin-left: 0;
    }
}
