body>.window{
    margin: 2vh 4vw;
    padding: 4px 8px;
    width: fit-content;
}

body>.window>.title{
    width: 100%;
    border-bottom: solid #e8e8ee 1px;
}

body>.window>.content{
    margin: 8px;
}

body>.window>dl{
    margin: 20px;
}

dl>dt{
    border-bottom: solid #e8e8ee 1px;
}
dl>dd{
    margin-left: 40px;
    margin-bottom: 20px;
}
dt>span{
    margin-left: 40px;
}

h4>span{
    font-weight: 800;
    margin-right: 28px;
}

.effect{
    margin-left: 28px;
}

@media screen and (max-width:959px) {
    dt>span{
        display: block;
        margin-left: 20px;
        font-size: 14px;
    }
    .effect{
        display: block;
        font-size: 14px;
    }
}
