@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;800&display=swap');

@keyframes rainbow{
    100% { background-position-x: 200%; }
}

*{
    color: #d4d4da;
    margin: 0;
    font: medium 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.bold{
    font-weight: 400;
}

.underline{
    text-decoration: underline;
}

.rainbow{
    font-weight: 400;
    background: linear-gradient(to right, #ffaaff, #ffffaa, #aaffff, #ffaaff) 0% center/200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 12s linear infinite;
}

.hide{
    display: none !important;
}

a{
    text-decoration-thickness: 1px;
}

a:hover{
    text-decoration-thickness: 1.2px;
    text-decoration-color: #ff3380;
}

a.anchor{
    display: block;
    margin-top: -3.0lh;
    padding-top: 3.0lh;
}

br.narrow{
    display: none;
}

body{
    background-color: #030308;
}

.window{
    background-color: #0a0a1280;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

#back{
    user-select: none;
    z-index: -1;
    position: fixed;
    width: 100vh;
    height: 100vw;
    word-break: break-all;
    font-size: 6vw;
    color: #ffffff00;
    text-shadow: 0 0 12px #ffffff0c;
    transform-origin: left top;
    transform: translateY(95vh) rotate(270deg);
}

#header{
    position: sticky;
    top: 0;
    padding: 10px 10px 10px 20px;
    background-color: #0a0a12c0;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

#header>.title{
    font-size: 150%;
    margin-right: 20px;
}

#header a{
    margin: 0 6px;
}

@media screen and (max-width:959px) {
    .menu{
        display: block;
        width: fit-content;
        margin: 0.4rem 0 0 auto;
    }
    a.anchor{
        display: block;
        padding-top: 4.0lh;
        margin-top: -4.0lh;
    }
    br.narrow{
        display: inline;
    }
}
